<!-- @input -->
<!-- <app-child-component [item]="currentItem"/> -->

<!-- @output -->
<!-- <app-child-component (newItemEvent)="addItem($event)"/>
@for (item of items; track $index) {
  <br>
  {{item}}
} -->

<!-- Deferable views -->
<!-- @defer {
  <app-deferable-views />
} @placeholder {
  <p>Future Comment</p>
} @loading(minimum 2s) {
  <p>Loading Comment ...</p>
} -->

<!-- Ng Optimize Image -->
<!-- <app-user /> -->

<!-- Router -->
<!-- <nav>
  <a href="/">Home</a>
  |
  <a href="/user">User</a>
</nav> -->

<!-- Form Control Value -->
<!-- <app-form-control-value /> -->

<!-- Reactive Form -->
<!-- <app-reactive-forms /> -->

<!-- Validating Forms -->
<!-- <app-validating-forms /> -->

<!-- Added Car Service -->
<!-- <p>{{ carService.getCars() }}</p> -->

<!-- inject based depedency injection -->
<!-- <p>Car Listing : {{ display }}</p> -->

<!-- pipe -->
<!-- <p>{{ username | lowercase }}</p> -->

<!-- formating date in pipe component -->
<app-pipe />

<router-outlet />
